*{
    box-sizing: border-box;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    min-width: 800px;
    max-width: 800px;
    max-width: 800px;
    max-height: 800px;
}

.square {
    background-color: lavender;
    width: 50px;
    height: 50px;
    align-items: center;
}

.gridContainer {
    display: grid;
    margin: auto; /* centers grid */
    background-color: pink;
    min-width: 800px;
    max-width: 800px;
    min-height: 800px;
    max-height: 800px;
    
}

.gridSquare {
    /* border: 1px solid rgb(32, 213, 116); */
    background-color: lavender;
}

.colorChange {
    background-color: black;
}